/* Global Styles */

html,
body {
  height: 100%;
  width: 100%;
}

i {
  color: black;
}

.cert {
  height: 100%;
  width: 100%;
  background: url(../img/aws.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
